*.zig-cache/
*/zig-out/
*.env*
*.log
*.pid
fetcher/fetcher_bin
fetcher/fetcher
renderer/renderer_bin
renderer/renderer
bin/
renderer/bin/
fetcher/bin/
extractor/extractor
extractor/main.o
*__pycache__/
*.venv/
*_data/
*_log/
